<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/heads/headindex") %>
<body>
    <div id="container-main">
        <%- include("./partials/header") %> 
        <main>
            <div class="banner">
                <span class="title-search">Expertos en propiedades</span>
                <form action="/buscar/propiedad" method="POST">
                <div class="form-search">
                    <div class="radio-group">
                         <div>
                            <input type="radio" id="departamentos" name="propiedad" value="departamentos" checked="">
                            <label for="departamentos" class="btn">Departamentos</label>
                        </div>
                        <div>
                            <input type="radio" id="casas" name="propiedad" value="casas">
                            <label for="casas" class="btn">Casas</label>
                        </div>
                        <div>
                            <input type="radio" id="oficinas" name="propiedad" value="oficinas">
                            <label for="oficinas" class="btn">Oficinas</label>
                        </div>
                        <div>
                            <input type="radio" id="edificios-block" name="propiedad" value="edificios-en-block">
                            <label for="edificios-block" class="btn">Edificios</label>
                        </div>
                        <div>
                            <input type="radio" id="locales" name="propiedad" value="locales">
                            <label for="locales" class="btn">Locales</label>
                        </div>
                        <div>
                            <input type="radio" id="terrenos" name="propiedad" value="terrenos">
                            <label for="terrenos" class="btn">Terrenos</label>
                        </div>
                        <div>
                            <input type="radio" id="depositos" name="propiedad" value="depositos">
                            <label for="depositos" class="btn">Dep칩sitos</label>
                        </div>
                    </div>
    
                    <div class="searchbox">
                        <div class="radio-group-2">
                            <div>
                                <input type="radio" id="comprar" name="comprar_alquilar" checked="" value="venta">
                                <label for="comprar">Venta</label>
                            </div>
                            <div>
                                <input type="radio" id="alquilar" name="comprar_alquilar" value="alquiler">
                                <label for="alquilar">Alquiler</label>
                            </div>
                        </div>
                        <div class="input-search">
                            <input type="text" autocomplete="off" placeholder="Ingres치 ubicaci칩n, barrio o palabra clave" name="quicksearch" class="quicksearch ui-autocomplete-input">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </div>
                </form>
            </div> 
            <% if(typeof resultados == 'object' && resultados.length > 0){ %>           
            <section class="head">
                <div class="container">
                    <h2 class="text-center"><span><%=resultados.length%> Resultados</span></h2>
                </div>
            </section>
            <section class="search-box1">
                <div class="container-fluid">
                    <% resultados.forEach(function(propiedad) { %>
                    <div class="row">
                        <div class="col-md-12 listing-block">
                            <div class="media">
                                <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                                <img class="d-flex align-self-start" src="/images/propiedades/<%=propiedad.fotos%>?h=350&auto=compress&cs=tinysrgb" alt="imagen propiedad">
                                <div class="media-body pl-3">
                                <div class="price">$ <%=propiedad.precio%><small><%=propiedad.barrio%></small></div>
                                <div class="stats">
                                <span><i class="fa fa-arrows-alt"></i><%=propiedad.suptotal%></span>
                                <span><i class="fa fa-bath"></i><%=propiedad.banios%> Ba침os</span>
                            </div>
                            <div class="address"><%=propiedad.direccion%></div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </section>
                <% } else { %>
                    <section class="head">
                        <div class="container">
                            <h2 class="text-center"><span><%=resultados.length%> Resultados</span></h2>
                        </div>
                    </section>
                <% } %>                 
            </div>
        </main>
        <%- include("./partials/footer") %> 
    </div>   
</body>
</html>