<%- include("./partials/headmariano") %> 
    <div id="container-main">
        <%- include("./partials/header") %> 
        <main>
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Foto</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Barrio</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% propiedadListado.forEach(function(propiedad) { %>   
                            <tr>
                                <th scope="row"><img src="<%=propiedad.imagen%>"></th>
                                <td><%=propiedad.titulo%></td>
                                <td><%=propiedad.barrio%></td>
                                <td class="text-right">
                                    <form method="GET" action="/admin/formEdit/<%=propiedad.id %>">
                                        <button class="btn btn-primary badge-pill">Editar</button>
                                        <button class="btn btn-danger badge-pill">Borrar</button>
                                    </form>
                                </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                </div>
                
            </div>          
        </main>
        <%- include("./partials/footer") %> 
    </div>

</body>
</html>